.deck {
  position: relative;
  width: 100%;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
}

.layer {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide header .special {
  font-size: 30px;
  margin: 0;
}

.main-fig img,
.main-fig figcaption,
.content-inner {
  max-width: 80vw;
  margin: 0 auto;
  display: block;
}


/* positioning */

.slide header.layer {
  top: 5%;
}

.main-fig,
.main-content,
.fig-inner {
  top: 10%;
  height: 85vh;
  font-family: monospace;
  font-size: 18px;
}

.main-fig img {
  max-height: 80vh;
}

.has-content .main-fig {
  height: 65vh;
  top: 30%;
}

.has-content .main-fig img {
  max-height: 60vh;
}

.has-img .main-content {
  height: 20vh;
}
